
<h1>IDMxS Lens Designs for Mobile Cameras</h1>

<% if @item[:title] %>
<h2><%= @item[:title] %></h2>
<% end %>

<p>This is a collection of patented lens designs suitable for microscopy applications with mobile cameras. This repository provides example Zemax files with layout preview.</p>

<p>Published by <a href="https://idmxs.org/">Institute for Digital Molecular Analytics and Science (IDMxS)</a>.</p>
