

<table id="lensTable" class="table is-striped display">
<thead>
<tr>
<th>No.</th><th>Patent</th><th>Focal Length</th><th>F-Number</th><th>Field</th><th>Reference Wavelength</th><th>Layout</th>
</thead>
<tbody>
<tr>
<td>1</td><td>US10007086B2</td><td>3.79</td><td>1.65</td><td>48.00</td><td>0.5876</td><td><a href="lens/US10007086B2/"><img alt="US10007086B2" src="lens/US10007086B2/US10007086B2.jpg"/></a></td>
</tr>
<tr>
<td>2</td><td>US10031318B2</td><td>4.78</td><td>2.05</td><td>39.20</td><td>0.5876</td><td><a href="lens/US10031318B2/"><img alt="US10031318B2" src="lens/US10031318B2/US10031318B2.jpg"/></a></td>
</tr>
<tr>
<td>3</td><td>US10048466B2</td><td>2.30</td><td>2.80</td><td>67.00</td><td>0.5876</td><td><a href="lens/US10048466B2/"><img alt="US10048466B2" src="lens/US10048466B2/US10048466B2.jpg"/></a></td>
</tr>
<tr>
<td>4</td><td>US10175456B2</td><td>5.05</td><td>2.48</td><td>27.00</td><td>0.5876</td><td><a href="lens/US10175456B2/"><img alt="US10175456B2" src="lens/US10175456B2/US10175456B2.jpg"/></a></td>
</tr>
<tr>
<td>5</td><td>US10310223B2</td><td>8.63</td><td>2.06</td><td>18.00</td><td>0.5876</td><td><a href="lens/US10310223B2/"><img alt="US10310223B2" src="lens/US10310223B2/US10310223B2.jpg"/></a></td>
</tr>
<tr>
<td>6</td><td>US10324272B2</td><td>5.75</td><td>2.35</td><td>22.30</td><td>0.5876</td><td><a href="lens/US10324272B2/"><img alt="US10324272B2" src="lens/US10324272B2/US10324272B2.jpg"/></a></td>
</tr>
<tr>
<td>7</td><td>US10330891B2</td><td>2.42</td><td>2.08</td><td>50.00</td><td>0.5876</td><td><a href="lens/US10330891B2/"><img alt="US10330891B2" src="lens/US10330891B2/US10330891B2.jpg"/></a></td>
</tr>
<tr>
<td>8</td><td>US10627603B2</td><td>7.29</td><td>2.25</td><td>21.60</td><td>0.5876</td><td><a href="lens/US10627603B2/"><img alt="US10627603B2" src="lens/US10627603B2/US10627603B2.jpg"/></a></td>
</tr>
<tr>
<td>9</td><td>US20100315723A1</td><td>3.63</td><td>2.80</td><td>40.30</td><td>0.5876</td><td><a href="lens/US20100315723A1/"><img alt="US20100315723A1" src="lens/US20100315723A1/US20100315723A1.jpg"/></a></td>
</tr>
<tr>
<td>10</td><td>US20130050849A1</td><td>1.66</td><td>2.45</td><td>31.40</td><td>0.5876</td><td><a href="lens/US20130050849A1/"><img alt="US20130050849A1" src="lens/US20130050849A1/US20130050849A1.jpg"/></a></td>
</tr>
<tr>
<td>11</td><td>US20130342919A1</td><td>3.76</td><td>2.43</td><td>36.10</td><td>0.5876</td><td><a href="lens/US20130342919A1/"><img alt="US20130342919A1" src="lens/US20130342919A1/US20130342919A1.jpg"/></a></td>
</tr>
<tr>
<td>12</td><td>US20140111876A1</td><td>4.20</td><td>2.07</td><td>37.60</td><td>0.5876</td><td><a href="lens/US20140111876A1/"><img alt="US20140111876A1" src="lens/US20140111876A1/US20140111876A1.jpg"/></a></td>
</tr>
<tr>
<td>13</td><td>US20140118844A1</td><td>3.48</td><td>2.40</td><td>39.60</td><td>0.5876</td><td><a href="lens/US20140118844A1/"><img alt="US20140118844A1" src="lens/US20140118844A1/US20140118844A1.jpg"/></a></td>
</tr>
<tr>
<td>14</td><td>US20140126073A1</td><td>3.54</td><td>2.04</td><td>39.00</td><td>0.5876</td><td><a href="lens/US20140126073A1/"><img alt="US20140126073A1" src="lens/US20140126073A1/US20140126073A1.jpg"/></a></td>
</tr>
<tr>
<td>15</td><td>US20140185151A1</td><td>1.36</td><td>2.05</td><td>37.40</td><td>0.5876</td><td><a href="lens/US20140185151A1/"><img alt="US20140185151A1" src="lens/US20140185151A1/US20140185151A1.jpg"/></a></td>
</tr>
<tr>
<td>16</td><td>US20140320980A1</td><td>4.24</td><td>1.87</td><td>36.40</td><td>0.5876</td><td><a href="lens/US20140320980A1/"><img alt="US20140320980A1" src="lens/US20140320980A1/US20140320980A1.jpg"/></a></td>
</tr>
<tr>
<td>17</td><td>US20150268446A1</td><td>1.90</td><td>2.60</td><td>63.50</td><td>0.5876</td><td><a href="lens/US20150268446A1/"><img alt="US20150268446A1" src="lens/US20150268446A1/US20150268446A1.jpg"/></a></td>
</tr>
<tr>
<td>18</td><td>US20150338607A1</td><td>4.16</td><td>1.60</td><td>36.00</td><td>0.5876</td><td><a href="lens/US20150338607A1/"><img alt="US20150338607A1" src="lens/US20150338607A1/US20150338607A1.jpg"/></a></td>
</tr>
<tr>
<td>19</td><td>US20160004039A1</td><td>3.78</td><td>2.45</td><td>38.70</td><td>0.5876</td><td><a href="lens/US20160004039A1/"><img alt="US20160004039A1" src="lens/US20160004039A1/US20160004039A1.jpg"/></a></td>
</tr>
<tr>
<td>20</td><td>US20160048004A1</td><td>3.94</td><td>2.13</td><td>40.30</td><td>0.5876</td><td><a href="lens/US20160048004A1/"><img alt="US20160048004A1" src="lens/US20160048004A1/US20160048004A1.jpg"/></a></td>
</tr>
<tr>
<td>21</td><td>US20160209626A1</td><td>2.40</td><td>2.50</td><td>49.80</td><td>0.5876</td><td><a href="lens/US20160209626A1/"><img alt="US20160209626A1" src="lens/US20160209626A1/US20160209626A1.jpg"/></a></td>
</tr>
<tr>
<td>22</td><td>US20160259147A1</td><td>3.88</td><td>2.05</td><td>37.00</td><td>0.5876</td><td><a href="lens/US20160259147A1/"><img alt="US20160259147A1" src="lens/US20160259147A1/US20160259147A1.jpg"/></a></td>
</tr>
<tr>
<td>23</td><td>US20170003482A1</td><td>3.62</td><td>2.32</td><td>45.50</td><td>0.5876</td><td><a href="lens/US20170003482A1/"><img alt="US20170003482A1" src="lens/US20170003482A1/US20170003482A1.jpg"/></a></td>
</tr>
<tr>
<td>24</td><td>US20170045714A1</td><td>3.97</td><td>1.75</td><td>35.20</td><td>0.5876</td><td><a href="lens/US20170045714A1/"><img alt="US20170045714A1" src="lens/US20170045714A1/US20170045714A1.jpg"/></a></td>
</tr>
<tr>
<td>25</td><td>US20170090154A1</td><td>3.51</td><td>2.40</td><td>19.00</td><td>0.5876</td><td><a href="lens/US20170090154A1/"><img alt="US20170090154A1" src="lens/US20170090154A1/US20170090154A1.jpg"/></a></td>
</tr>
<tr>
<td>26</td><td>US20170212331A1</td><td>1.90</td><td>2.70</td><td>68.00</td><td>0.5876</td><td><a href="lens/US20170212331A1/"><img alt="US20170212331A1" src="lens/US20170212331A1/US20170212331A1.jpg"/></a></td>
</tr>
<tr>
<td>27</td><td>US20170315334A1</td><td>5.71</td><td>4.48</td><td>21.50</td><td>0.5876</td><td><a href="lens/US20170315334A1/"><img alt="US20170315334A1" src="lens/US20170315334A1/US20170315334A1.jpg"/></a></td>
</tr>
<tr>
<td>28</td><td>US20180031807A1</td><td>2.74</td><td>2.80</td><td>79.90</td><td>0.5876</td><td><a href="lens/US20180031807A1/"><img alt="US20180031807A1" src="lens/US20180031807A1/US20180031807A1.jpg"/></a></td>
</tr>
<tr>
<td>29</td><td>US20180143405A1</td><td>3.07</td><td>1.86</td><td>47.50</td><td>0.5876</td><td><a href="lens/US20180143405A1/"><img alt="US20180143405A1" src="lens/US20180143405A1/US20180143405A1.jpg"/></a></td>
</tr>
<tr>
<td>30</td><td>US20180348484A1</td><td>3.93</td><td>1.45</td><td>39.00</td><td>0.5876</td><td><a href="lens/US20180348484A1/"><img alt="US20180348484A1" src="lens/US20180348484A1/US20180348484A1.jpg"/></a></td>
</tr>
<tr>
<td>31</td><td>US20190041610A1</td><td>4.58</td><td>2.45</td><td>40.00</td><td>0.5876</td><td><a href="lens/US20190041610A1/"><img alt="US20190041610A1" src="lens/US20190041610A1/US20190041610A1.jpg"/></a></td>
</tr>
<tr>
<td>32</td><td>US7468847B2</td><td>2.82</td><td>2.45</td><td>32.60</td><td>0.5876</td><td><a href="lens/US7468847B2/"><img alt="US7468847B2" src="lens/US7468847B2/US7468847B2.jpg"/></a></td>
</tr>
<tr>
<td>33</td><td>US7643225B1</td><td>3.34</td><td>2.45</td><td>35.80</td><td>0.5876</td><td><a href="lens/US7643225B1/"><img alt="US7643225B1" src="lens/US7643225B1/US7643225B1.jpg"/></a></td>
</tr>
<tr>
<td>34</td><td>US7826151B2</td><td>3.82</td><td>2.80</td><td>32.60</td><td>0.5876</td><td><a href="lens/US7826151B2/"><img alt="US7826151B2" src="lens/US7826151B2/US7826151B2.jpg"/></a></td>
</tr>
<tr>
<td>35</td><td>US7864454B1</td><td>5.33</td><td>2.90</td><td>33.50</td><td>0.5876</td><td><a href="lens/US7864454B1/"><img alt="US7864454B1" src="lens/US7864454B1/US7864454B1.jpg"/></a></td>
</tr>
<tr>
<td>36</td><td>US7869142B2</td><td>4.24</td><td>2.85</td><td>33.70</td><td>0.5876</td><td><a href="lens/US7869142B2/"><img alt="US7869142B2" src="lens/US7869142B2/US7869142B2.jpg"/></a></td>
</tr>
<tr>
<td>37</td><td>US7916401B2</td><td>2.98</td><td>2.40</td><td>31.90</td><td>0.5876</td><td><a href="lens/US7916401B2/"><img alt="US7916401B2" src="lens/US7916401B2/US7916401B2.jpg"/></a></td>
</tr>
<tr>
<td>38</td><td>US7961406B2</td><td>3.35</td><td>2.90</td><td>33.80</td><td>0.5876</td><td><a href="lens/US7961406B2/"><img alt="US7961406B2" src="lens/US7961406B2/US7961406B2.jpg"/></a></td>
</tr>
<tr>
<td>39</td><td>US8077400B2</td><td>1.58</td><td>2.40</td><td>30.00</td><td>0.5876</td><td><a href="lens/US8077400B2/"><img alt="US8077400B2" src="lens/US8077400B2/US8077400B2.jpg"/></a></td>
</tr>
<tr>
<td>40</td><td>US8179614B1</td><td>3.86</td><td>2.40</td><td>36.30</td><td>0.5876</td><td><a href="lens/US8179614B1/"><img alt="US8179614B1" src="lens/US8179614B1/US8179614B1.jpg"/></a></td>
</tr>
<tr>
<td>41</td><td>US8189276B1</td><td>1.05</td><td>2.60</td><td>68.00</td><td>0.5876</td><td><a href="lens/US8189276B1/"><img alt="US8189276B1" src="lens/US8189276B1/US8189276B1.jpg"/></a></td>
</tr>
<tr>
<td>42</td><td>US8284502B2</td><td>5.99</td><td>2.80</td><td>31.00</td><td>0.5876</td><td><a href="lens/US8284502B2/"><img alt="US8284502B2" src="lens/US8284502B2/US8284502B2.jpg"/></a></td>
</tr>
<tr>
<td>43</td><td>US8310767B2</td><td>2.99</td><td>2.90</td><td>37.20</td><td>0.5876</td><td><a href="lens/US8310767B2/"><img alt="US8310767B2" src="lens/US8310767B2/US8310767B2.jpg"/></a></td>
</tr>
<tr>
<td>44</td><td>US8335043B2</td><td>5.43</td><td>2.83</td><td>39.60</td><td>0.5876</td><td><a href="lens/US8335043B2/"><img alt="US8335043B2" src="lens/US8335043B2/US8335043B2.jpg"/></a></td>
</tr>
<tr>
<td>45</td><td>US8345358B2</td><td>5.00</td><td>2.45</td><td>38.10</td><td>0.5876</td><td><a href="lens/US8345358B2/"><img alt="US8345358B2" src="lens/US8345358B2/US8345358B2.jpg"/></a></td>
</tr>
<tr>
<td>46</td><td>US8355213B2</td><td>3.23</td><td>2.88</td><td>34.90</td><td>0.5876</td><td><a href="lens/US8355213B2/"><img alt="US8355213B2" src="lens/US8355213B2/US8355213B2.jpg"/></a></td>
</tr>
<tr>
<td>47</td><td>US8358473B2</td><td>3.13</td><td>2.92</td><td>36.10</td><td>0.5876</td><td><a href="lens/US8358473B2/"><img alt="US8358473B2" src="lens/US8358473B2/US8358473B2.jpg"/></a></td>
</tr>
<tr>
<td>48</td><td>US8379324B2</td><td>4.17</td><td>2.44</td><td>34.60</td><td>0.5876</td><td><a href="lens/US8379324B2/"><img alt="US8379324B2" src="lens/US8379324B2/US8379324B2.jpg"/></a></td>
</tr>
<tr>
<td>49</td><td>US8395853B2</td><td>2.95</td><td>3.20</td><td>37.70</td><td>0.5876</td><td><a href="lens/US8395853B2/"><img alt="US8395853B2" src="lens/US8395853B2/US8395853B2.jpg"/></a></td>
</tr>
<tr>
<td>50</td><td>US8441745B2</td><td>1.28</td><td>2.35</td><td>45.10</td><td>0.5876</td><td><a href="lens/US8441745B2/"><img alt="US8441745B2" src="lens/US8441745B2/US8441745B2.jpg"/></a></td>
</tr>
<tr>
<td>51</td><td>US8456758B1</td><td>3.53</td><td>2.75</td><td>38.60</td><td>0.5876</td><td><a href="lens/US8456758B1/"><img alt="US8456758B1" src="lens/US8456758B1/US8456758B1.jpg"/></a></td>
</tr>
<tr>
<td>52</td><td>US8462449B2</td><td>4.39</td><td>2.95</td><td>37.40</td><td>0.5876</td><td><a href="lens/US8462449B2/"><img alt="US8462449B2" src="lens/US8462449B2/US8462449B2.jpg"/></a></td>
</tr>
<tr>
<td>53</td><td>US8482863B2-table-4</td><td>3.48</td><td>2.40</td><td>38.90</td><td>0.5876</td><td><a href="lens/US8482863B2-table-4/"><img alt="US8482863B2-table-4" src="lens/US8482863B2-table-4/US8482863B2-table-4.jpg"/></a></td>
</tr>
<tr>
<td>54</td><td>US8482863B2</td><td>3.77</td><td>2.40</td><td>36.70</td><td>0.5876</td><td><a href="lens/US8482863B2/"><img alt="US8482863B2" src="lens/US8482863B2/US8482863B2.jpg"/></a></td>
</tr>
<tr>
<td>55</td><td>US8488255B2</td><td>3.63</td><td>2.50</td><td>37.70</td><td>0.5876</td><td><a href="lens/US8488255B2/"><img alt="US8488255B2" src="lens/US8488255B2/US8488255B2.jpg"/></a></td>
</tr>
<tr>
<td>56</td><td>US8488259B2</td><td>4.32</td><td>2.45</td><td>32.90</td><td>0.5876</td><td><a href="lens/US8488259B2/"><img alt="US8488259B2" src="lens/US8488259B2/US8488259B2.jpg"/></a></td>
</tr>
<tr>
<td>57</td><td>US8508859B2</td><td>4.38</td><td>2.40</td><td>32.70</td><td>0.5876</td><td><a href="lens/US8508859B2/"><img alt="US8508859B2" src="lens/US8508859B2/US8508859B2.jpg"/></a></td>
</tr>
<tr>
<td>58</td><td>US8531786B2</td><td>3.29</td><td>2.40</td><td>34.10</td><td>0.5876</td><td><a href="lens/US8531786B2/"><img alt="US8531786B2" src="lens/US8531786B2/US8531786B2.jpg"/></a></td>
</tr>
<tr>
<td>59</td><td>US8582219B2</td><td>3.87</td><td>2.07</td><td>31.40</td><td>0.5876</td><td><a href="lens/US8582219B2/"><img alt="US8582219B2" src="lens/US8582219B2/US8582219B2.jpg"/></a></td>
</tr>
<tr>
<td>60</td><td>US8605367B2</td><td>1.76</td><td>2.60</td><td>35.90</td><td>0.5876</td><td><a href="lens/US8605367B2/"><img alt="US8605367B2" src="lens/US8605367B2/US8605367B2.jpg"/></a></td>
</tr>
<tr>
<td>61</td><td>US8654454B2</td><td>1.42</td><td>2.85</td><td>31.60</td><td>0.5876</td><td><a href="lens/US8654454B2/"><img alt="US8654454B2" src="lens/US8654454B2/US8654454B2.jpg"/></a></td>
</tr>
<tr>
<td>62</td><td>US8687292B2</td><td>3.20</td><td>2.10</td><td>41.20</td><td>0.5876</td><td><a href="lens/US8687292B2/"><img alt="US8687292B2" src="lens/US8687292B2/US8687292B2.jpg"/></a></td>
</tr>
<tr>
<td>63</td><td>US8705182B1</td><td>3.79</td><td>2.23</td><td>37.30</td><td>0.5876</td><td><a href="lens/US8705182B1/"><img alt="US8705182B1" src="lens/US8705182B1/US8705182B1.jpg"/></a></td>
</tr>
<tr>
<td>64</td><td>US8736979B2</td><td>3.24</td><td>2.20</td><td>42.40</td><td>0.5876</td><td><a href="lens/US8736979B2/"><img alt="US8736979B2" src="lens/US8736979B2/US8736979B2.jpg"/></a></td>
</tr>
<tr>
<td>65</td><td>US8743478B2</td><td>4.05</td><td>2.60</td><td>34.30</td><td>0.5876</td><td><a href="lens/US8743478B2/"><img alt="US8743478B2" src="lens/US8743478B2/US8743478B2.jpg"/></a></td>
</tr>
<tr>
<td>66</td><td>US8854746B2</td><td>3.75</td><td>2.08</td><td>38.90</td><td>0.5876</td><td><a href="lens/US8854746B2/"><img alt="US8854746B2" src="lens/US8854746B2/US8854746B2.jpg"/></a></td>
</tr>
<tr>
<td>67</td><td>US8896936B2</td><td>3.46</td><td>2.55</td><td>32.10</td><td>0.5876</td><td><a href="lens/US8896936B2/"><img alt="US8896936B2" src="lens/US8896936B2/US8896936B2.jpg"/></a></td>
</tr>
<tr>
<td>68</td><td>US8908290B1</td><td>3.85</td><td>2.26</td><td>45.60</td><td>0.5876</td><td><a href="lens/US8908290B1/"><img alt="US8908290B1" src="lens/US8908290B1/US8908290B1.jpg"/></a></td>
</tr>
<tr>
<td>69</td><td>US8982479B2</td><td>1.61</td><td>2.84</td><td>75.00</td><td>0.5876</td><td><a href="lens/US8982479B2/"><img alt="US8982479B2" src="lens/US8982479B2/US8982479B2.jpg"/></a></td>
</tr>
<tr>
<td>70</td><td>US8988796B1</td><td>1.66</td><td>2.15</td><td>46.80</td><td>0.5876</td><td><a href="lens/US8988796B1/"><img alt="US8988796B1" src="lens/US8988796B1/US8988796B1.jpg"/></a></td>
</tr>
<tr>
<td>71</td><td>US9013807B1</td><td>6.19</td><td>2.20</td><td>38.50</td><td>0.5876</td><td><a href="lens/US9013807B1/"><img alt="US9013807B1" src="lens/US9013807B1/US9013807B1.jpg"/></a></td>
</tr>
<tr>
<td>72</td><td>US9063319B1</td><td>4.70</td><td>2.25</td><td>39.00</td><td>0.5876</td><td><a href="lens/US9063319B1/"><img alt="US9063319B1" src="lens/US9063319B1/US9063319B1.jpg"/></a></td>
</tr>
<tr>
<td>73</td><td>US9104012B2</td><td>2.87</td><td>2.20</td><td>37.60</td><td>0.5876</td><td><a href="lens/US9104012B2/"><img alt="US9104012B2" src="lens/US9104012B2/US9104012B2.jpg"/></a></td>
</tr>
<tr>
<td>74</td><td>US9128266B2</td><td>2.27</td><td>2.02</td><td>44.50</td><td>0.5876</td><td><a href="lens/US9128266B2/"><img alt="US9128266B2" src="lens/US9128266B2/US9128266B2.jpg"/></a></td>
</tr>
<tr>
<td>75</td><td>US9146378B2</td><td>1.16</td><td>2.00</td><td>41.00</td><td>0.5876</td><td><a href="lens/US9146378B2/"><img alt="US9146378B2" src="lens/US9146378B2/US9146378B2.jpg"/></a></td>
</tr>
<tr>
<td>76</td><td>US9151931B1</td><td>4.17</td><td>2.45</td><td>34.30</td><td>0.5876</td><td><a href="lens/US9151931B1/"><img alt="US9151931B1" src="lens/US9151931B1/US9151931B1.jpg"/></a></td>
</tr>
<tr>
<td>77</td><td>US9170400B2</td><td>5.65</td><td>2.30</td><td>35.50</td><td>0.5876</td><td><a href="lens/US9170400B2/"><img alt="US9170400B2" src="lens/US9170400B2/US9170400B2.jpg"/></a></td>
</tr>
<tr>
<td>78</td><td>US9195030B2</td><td>4.21</td><td>2.24</td><td>38.70</td><td>0.5876</td><td><a href="lens/US9195030B2/"><img alt="US9195030B2" src="lens/US9195030B2/US9195030B2.jpg"/></a></td>
</tr>
<tr>
<td>79</td><td>US9201216B2</td><td>3.27</td><td>2.10</td><td>42.00</td><td>0.5876</td><td><a href="lens/US9201216B2/"><img alt="US9201216B2" src="lens/US9201216B2/US9201216B2.jpg"/></a></td>
</tr>
<tr>
<td>80</td><td>US9207435B2</td><td>4.38</td><td>2.20</td><td>38.20</td><td>0.5876</td><td><a href="lens/US9207435B2/"><img alt="US9207435B2" src="lens/US9207435B2/US9207435B2.jpg"/></a></td>
</tr>
<tr>
<td>81</td><td>US9235032B1</td><td>4.11</td><td>2.23</td><td>36.00</td><td>0.5876</td><td><a href="lens/US9235032B1/"><img alt="US9235032B1" src="lens/US9235032B1/US9235032B1.jpg"/></a></td>
</tr>
<tr>
<td>82</td><td>US9239447B1</td><td>3.03</td><td>2.20</td><td>45.00</td><td>0.5876</td><td><a href="lens/US9239447B1/"><img alt="US9239447B1" src="lens/US9239447B1/US9239447B1.jpg"/></a></td>
</tr>
<tr>
<td>83</td><td>US9304295B2</td><td>3.56</td><td>2.50</td><td>39.30</td><td>0.5876</td><td><a href="lens/US9304295B2/"><img alt="US9304295B2" src="lens/US9304295B2/US9304295B2.jpg"/></a></td>
</tr>
<tr>
<td>84</td><td>US9316809B2</td><td>1.97</td><td>2.06</td><td>37.50</td><td>0.5876</td><td><a href="lens/US9316809B2/"><img alt="US9316809B2" src="lens/US9316809B2/US9316809B2.jpg"/></a></td>
</tr>
<tr>
<td>85</td><td>US9316811B2</td><td>4.83</td><td>2.20</td><td>38.10</td><td>0.5876</td><td><a href="lens/US9316811B2/"><img alt="US9316811B2" src="lens/US9316811B2/US9316811B2.jpg"/></a></td>
</tr>
<tr>
<td>86</td><td>US9348115B1</td><td>1.28</td><td>2.07</td><td>100.00</td><td>0.5876</td><td><a href="lens/US9348115B1/"><img alt="US9348115B1" src="lens/US9348115B1/US9348115B1.jpg"/></a></td>
</tr>
<tr>
<td>87</td><td>US9348117B1</td><td>3.76</td><td>2.05</td><td>37.50</td><td>0.5876</td><td><a href="lens/US9348117B1/"><img alt="US9348117B1" src="lens/US9348117B1/US9348117B1.jpg"/></a></td>
</tr>
<tr>
<td>88</td><td>US9411133B1</td><td>5.22</td><td>2.40</td><td>20.80</td><td>0.5876</td><td><a href="lens/US9411133B1/"><img alt="US9411133B1" src="lens/US9411133B1/US9411133B1.jpg"/></a></td>
</tr>
<tr>
<td>89</td><td>US9417438B2</td><td>1.58</td><td>2.35</td><td>48.00</td><td>0.5876</td><td><a href="lens/US9417438B2/"><img alt="US9417438B2" src="lens/US9417438B2/US9417438B2.jpg"/></a></td>
</tr>
<tr>
<td>90</td><td>US9488808B1</td><td>6.18</td><td>3.00</td><td>24.80</td><td>0.5876</td><td><a href="lens/US9488808B1/"><img alt="US9488808B1" src="lens/US9488808B1/US9488808B1.jpg"/></a></td>
</tr>
<tr>
<td>91</td><td>US9507124B2</td><td>1.55</td><td>2.65</td><td>39.20</td><td>0.5876</td><td><a href="lens/US9507124B2/"><img alt="US9507124B2" src="lens/US9507124B2/US9507124B2.jpg"/></a></td>
</tr>
<tr>
<td>92</td><td>US9507126B2</td><td>4.12</td><td>1.43</td><td>34.80</td><td>0.5876</td><td><a href="lens/US9507126B2/"><img alt="US9507126B2" src="lens/US9507126B2/US9507126B2.jpg"/></a></td>
</tr>
<tr>
<td>93</td><td>US9557530B2</td><td>3.30</td><td>2.25</td><td>40.50</td><td>0.5876</td><td><a href="lens/US9557530B2/"><img alt="US9557530B2" src="lens/US9557530B2/US9557530B2.jpg"/></a></td>
</tr>
<tr>
<td>94</td><td>US9557532B2</td><td>4.14</td><td>2.30</td><td>35.00</td><td>0.5876</td><td><a href="lens/US9557532B2/"><img alt="US9557532B2" src="lens/US9557532B2/US9557532B2.jpg"/></a></td>
</tr>
<tr>
<td>95</td><td>US9557534B1</td><td>3.86</td><td>2.44</td><td>60.00</td><td>0.5876</td><td><a href="lens/US9557534B1/"><img alt="US9557534B1" src="lens/US9557534B1/US9557534B1.jpg"/></a></td>
</tr>
<tr>
<td>96</td><td>US9588318B2</td><td>4.63</td><td>2.05</td><td>39.90</td><td>0.5876</td><td><a href="lens/US9588318B2/"><img alt="US9588318B2" src="lens/US9588318B2/US9588318B2.jpg"/></a></td>
</tr>
<tr>
<td>97</td><td>US9651759B2</td><td>3.27</td><td>2.20</td><td>41.00</td><td>0.5876</td><td><a href="lens/US9651759B2/"><img alt="US9651759B2" src="lens/US9651759B2/US9651759B2.jpg"/></a></td>
</tr>
<tr>
<td>98</td><td>US9715088B1</td><td>2.65</td><td>2.08</td><td>80.70</td><td>0.5876</td><td><a href="lens/US9715088B1/"><img alt="US9715088B1" src="lens/US9715088B1/US9715088B1.jpg"/></a></td>
</tr>
<tr>
<td>99</td><td>US9753249B2</td><td>8.59</td><td>1.65</td><td>19.80</td><td>0.5876</td><td><a href="lens/US9753249B2/"><img alt="US9753249B2" src="lens/US9753249B2/US9753249B2.jpg"/></a></td>
</tr>
<tr>
<td>100</td><td>US9810880B2</td><td>4.99</td><td>2.25</td><td>41.70</td><td>0.5876</td><td><a href="lens/US9810880B2/"><img alt="US9810880B2" src="lens/US9810880B2/US9810880B2.jpg"/></a></td>
</tr>
<tr>
<td>101</td><td>US9857559B2</td><td>6.07</td><td>2.40</td><td>22.00</td><td>0.5876</td><td><a href="lens/US9857559B2/"><img alt="US9857559B2" src="lens/US9857559B2/US9857559B2.jpg"/></a></td>
</tr>
<tr>
<td>102</td><td>US9958645B2</td><td>4.46</td><td>2.25</td><td>40.50</td><td>0.5876</td><td><a href="lens/US9958645B2/"><img alt="US9958645B2" src="lens/US9958645B2/US9958645B2.jpg"/></a></td>
</tr>
<tr>
<td>103</td><td>US9961244B2</td><td>7.76</td><td>1.60</td><td>21.00</td><td>0.5876</td><td><a href="lens/US9961244B2/"><img alt="US9961244B2" src="lens/US9961244B2/US9961244B2.jpg"/></a></td>
</tr>
</tbody>
<tfoot>
<tr>
<th>No.</th><th>Patent</th><th>Focal Length</th><th>F-Number</th><th>Field</th><th>Reference Wavelength</th><th>Layout</th>
</tfoot>
</table>

<script type="text/javascript">
$(document).ready(function () {
    $('#lensTable').DataTable({
        order: [[2, 'desc']],
    });
});
</script>
