
<table id="example" class="display">
  <thead>
    <tr>
      <th>PATENT</th>
      <th>YEAR OF PATENT</th>
      <th>FOCAL LENGTH (mm)</th>
      <th>F/NUMBER</th>
      <th>HALF FIELD (Degree)</th>
      <th>REFERNCE WAVELENGTH (um)</th>
    </tr>
  </thead>
</table>

<script type="text/javascript">
$(document).ready(function () {
    $('#example').DataTable({
      ajax: { url:'./Specs-records.json', dataSrc: '' },
      columns: [
      { title:'Layout',	data: "PATENT", "render": function(data, type, row, meta){
            if(type === 'display'){
		url = 'lens/'+data+'/';
		imgsrc = url+data+'.jpg';
                data = '<a href="' + url + '"><img src="' + imgsrc + '" alt="'+data+'" title="'+data+'"/></a>';
            }
            return data;
         }},
      { title:'Year',			data: "YEAR OF PATENT" },
      { title:'Focal Length (mm)',	data: "FOCAL LENGTH (mm)" },
      { title:'F/Number',		data: "F/NUMBER" },
      { title:'Half Field (deg)',	data: "HALF FIELD (Degree)" },
      { title:'Wavelength (um)',	data: "REFERNCE WAVELENGTH (um)" },
      ],
    });
});
</script>

