<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>IDMxS Lens Designs for Mobile Cameras - <%= @item[:title] %></title>
    <link rel="stylesheet" href="<%= ENV["SITE_URL"] %>stylesheet.css">
    <link href="https://cdn.datatables.net/1.13.3/css/dataTables.bulma.min.css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css"/>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.3/js/dataTables.foundation.min.js"></script>

    <!-- you don't need to keep this, but it's cool for stats! -->
    <meta name="generator" content="Nanoc <%= Nanoc::VERSION %>">
  </head>
  <body>
    <div id="main">
      <%= yield %>
    </div>
    <div id="sidebar">
      <h2>Lens Designs</h2>
      <ul>
        <li><a href="<%= ENV["SITE_URL"] %>index.html">About</a></li>
        <li><a href="<%= ENV["SITE_URL"] %>table-json.html">Gallery</a></li>
        <li><a href="https://gitlab.com/idmxs/lens-designs">Repository</a></li>
      </ul>
      <h2>Community</h2>
      <ul>
        <li><a href="https://www.idmxs.org/">IDMxS</a></li>
        <li><a href="https://www.ntu.edu.sg/">NTU</a></li>
      </ul>
    </div>
  </body>
</html>
