<h1>IDMxS Lens Designs for Mobile Cameras</h1>

<% if @item[:title] %>
<h2><%= @item[:title] %></h2>
<% end %>

<% if @item[:lens].nil? %>
<%= yield %>
<% else %>
<% lens = item.identifier.components[0...-1].join("/") %>
<% pat = item.identifier.components[-2] %>
<% lenspat = [lens, pat].join("/") %>

<p><a href="<%= ENV["SITE_URL"] %><%= lenspat %>.jpg"><img src="<%= ENV["SITE_URL"] %><%= lenspat %>.jpg"/></a></p>

<ul>
  <li><a href="<%= ENV["SITE_URL"] %><%= lenspat %>.jpg">Layout</a></li>
  <li><a href="<%= ENV["SITE_URL"] %><%= lenspat %>.zmx">Zemax File</a></li>
  <li><a href="<%= ENV["SITE_URL"] %><%= lenspat %>.pdf">Patent</a></li>
</ul>

<h3>Design specifications</h3>
<ul>
  <li>Focal Length: <%= @item[:lens][:focal] %></li>
  <li>F Number: <%= @item[:lens][:fnum] %></li>
  <li>Field: <%= @item[:lens][:field] %></li>
  <li>Ref. Wavelength: <%= @item[:lens][:wavelength] %></li>
</ul>
<% end %>

